<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policonsultorio Medico CAC - Contacto</title>
    <link rel="icon" href="../static/img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/validacion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/202b86d8b1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <!-- Logo -->
            <div>
                <a href="../index.html" id="logo"><img src="../static/img/logo4.png" alt="logo de Policonsultorio">Policonsultorio CAC</a>
            </div>
            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/staff.html">Profesionales</a></li>
                <li><a href="../templates/especialidades.html">Especialidades</a></li>
                <li><a href="../templates/quienes_somos.html">Quienes Somos</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>      
            </ul>
        </nav>
    </header>
    <!-- Contenido -->
    <main>
        <!--Seccion de bienenida-->
        <section class="bienvenida">
            <h1>CONTACTO</h1>
        </section>
    <form id="formulario" method="POST" action="https://codogrupo22.pythonanywhere.com/contacto" onsubmit="return validarDatos()">
        <label for="nombre">Nombre y Apellido:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required><br>
        <label for="especialidad">Especialidad:</label>
        <select id="especialidad" name="especialidad" required>
            <option value=""></option>"
            <option value="clinica">Clinica Medica</option>
            <option value="cirugia">Cirugia General</option>
            <option value="pediatria">Pediatria</option>
            <option value="ginecologia">Ginecologia</option>
            <option value="dermatologia">Dermatologia</option>
            <option value="cardiologia">Cardiologia</option>
            <option value="neumonologia">Neumonologia</option>
        </select>
        <label for="consulta">Consulta:</label>
        <textarea type="text" id="consulta" name="consulta"  rows= "5" cols="4" required></textarea><br>
        <p id="campos" class="error-message"></p>
        <input type="submit" value="Enviar">
    </form>
</main>
    <footer>
        <!-- Informacion de contacto-->
        <div class="footer-superior">
            <div class="footer-1">
                <h3>Contacto</h3>
                <p><i class="fa fa-phone" aria-hidden="true"></i>  (291)123456789</p>
                <p><i class="fa fa-whatsapp"></i> (291)987654321</p>
                <p><i class="fa fa-envelope"></i> consultorio@cac.com</p>
            </div>
            <!-- Redes sociales--> 
            <div class="footer-2">
                <h3>Seguínos</h3>
                <div id="redes">
                    <a href="https://www.facebook.com"><img class="logoRedes" src="../static/img/logofb.png" alt="Facebook consultorio"></a>
                    <a href="https://www.instagram.com/"><img class="logoRedes" src="../static/img/logoig.png" alt="Instagram consultorio"></a>
                    <a href="https://twitter.com/?lang=es"><img class="logoRedes" src="../static/img/logox.png" alt="X consultorio"></a>
                </div>
            </div>
            <!-- Mapa -->
            <div class="footer-3">
                <h3>Pichincha 1890, C1245 Cdad. Autónoma de Buenos Aires</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29475.64443220998!2d-58.407342888484955!3d-34.64266090903232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb232d430041%3A0xb914ae1d2c269fcc!2sHospital%20Garrahan!5e0!3m2!1ses-419!2sar!4v1715834212502!5m2!1ses-419!2sar" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- Copyright-->
        <div class="footer-4">
            <p>Copyright © 2024 - Poloconsultorio CAC- Fullstack Python</p>
        </div>
    </footer>
    <script src="../static/js/validacion.js"></script>
</body>
</html>